.signin{
    width: 500px;
    height: 500px;;
    border-radius: 10px;
    margin: 120px 37%;
    padding-left: 100px;
}
body{
    background: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    padding-bottom: 30px;
    padding-left: 60px;
}
.info{
    margin-top: 20px;
}
input{
    width: 300px;
    height: 25px;
}
.title{
    margin-right: 240px;
}
.title2{
    margin-right: 210px;
}
.title3, .title4{
    margin-right: 183px;
}
.title5{
    margin-right: 205px;
}
button{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    background-color: cadetblue;
}