.signin{
    width: 500px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 120px 37%;
    text-align: center;
}
h2{
    padding-bottom: 30px;
}
.info{
    margin-top: 20px;
}
#row{
    width: 300px;
    height: 25px;
}
.title{
    margin-right: 240px;
}
.title2{
    margin-right: 210px;
}
.title3, .title4{
    margin-right: 183px;
}
.title5{
    margin-right: 205px;
}
button{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    background-color: cadetblue;
}