#logo{
    padding-left: 20%;
}
#option{
    padding-left: 30%;
}
.manu{
    padding-top: 30px;
}
.nav-link{
    margin: 0 30px;
}
.carousel-inner{
    padding: 50px 0 150px;
}
/* Danh sách hoa sinh nhật */
#birthday{
    /* padding-left: 45%;
    padding-top: 100px;
    padding-bottom: 40px; */
    padding: 50px 45% 20px;
    font-size: 30px;
}
.ruler{
    border: 2px solid rgb(100, 9, 39);
    width: 100%;
    
}
.product{
    padding-top: 50px;
}
.card{
    width: 20rem;
}
.icon{
    color: #ffc107;
    padding-bottom: 10px;

}
.card-body{
    text-align: center;
}
.card-text{
    padding-bottom: 40px;
}
.order{
    padding-top: 20px;
}
.price{
    padding-top: 10px;
}
.btn{
    background-color: #e91e63;
    border-radius: 10px;
}
/* giới thiệu về hoa sinh nhật */
.intro{
    padding-top: 50px;
    padding-left: 30px;

}
h1{
    font-size: 30px;
    padding-left: 35%;
    padding-bottom: 20px;

}
p {
    font-family: inherit!important;
    line-height: 2;
}
h2{
    font-size: 50px;
}

