.navbar-brand{
    padding-left: 40%;
}
.manu{
    padding-top: 30px;
}
.carousel-inner{
    padding-top: 50px;
}
.nav-link{
    margin: 0 30px;
}
.carousel{
    padding-bottom: 200px;
}
.card-text{
    padding: auto;
}