#logo{
    padding-left: 20%;
}
#option{
    padding-left: 30%;
}
.manu{
    padding-top: 30px;
}
.nav-link{
    margin: 0 30px;
    color: black;
}
.carousel-inner{
    padding: 50px 0 150px;
}
/* danh sách Hoa Khai Chương */
#grandopening{
    padding: 50px 44% 20px;
    font-size: 30px;
}
#titlegrand{
    border: 2px solid rgb(100, 9, 39);
    width: 100%;
    
}
.product{
    padding-top: 50px;
}
.card{
    width: 20rem;
}
.icon{
    color: #ffc107;
    padding-bottom: 10px;

}
.card-body{
    text-align: center;
}
.card-text{
    padding-bottom: 40px;
    font-size: 18px;
}
.order{
    padding-top: 20px;
}
.price{
    padding-top: 10px;
}
.btn{
    background-color: #e91e63;
    border-radius: 10px;
    border: 1px solid #ffff;
}
/* giới thiệu về hoa khai trương */
.intro{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 250px;

}
#title{
    font-size: 30px;
    padding-left: 35%;

}
.col-md-10 h5{
    font-style: italic;
    padding-top: 20px;
}
.col-md-10 p{
    font-family: inherit!important;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
    padding-top: 15px;
}   
.col-md-10 h2{
    font-size: 25px;
    padding-top: 20px;
}
#imgintro{
    margin-left: 20%;
    padding-bottom: 20px;
}
#img{
    margin-left: 25%;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 640px;
    height: 640px;

}
.col-md-10 h3{
    padding-left: 50px;
    line-height: 1.3;
    list-style-position: outside;
    font-size: 18px;
}
.col-md-10 h1{
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.col-md-10 h4{
    text-align: center ;
    padding-bottom: 30px;
}
.col-md-10 iframe{
    margin-left: 25%;
}
/* butter */
.butter{
    display: flex;
    font-size: 18px;
    padding-bottom: 50px;
}
.contacts{
    text-align: left;
    padding-bottom: 20px;

}
.row-download{
    display: flex;
    
}
#app{
    padding-left: 20px;

}
.colum{
    text-align: left;
}
#care{
    font-size: 13px;
    padding-top: 20px;
    line-height: 1.5;

}
.fa-brands{
    text-decoration: none;
    font-size: 14px;
    color: grey;
    line-break: strict;
    padding: 10px 65px 10px;
    text-align: left;
}

#colum4-2, #colum4-3{
    padding: 10px 0 10px;
}
.address{
    line-break: strict;
    line-height: 1.5;
}