.login{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin: 200px 35% ;
    line-break: strict;
}
body{
    background: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    padding: 20px;
}
input{
    width: 350px;
    height: 35px;
}
.input{
    padding-top: 20px;
}
.title{
    padding-right: 290px;
}
#login{
    width: 350px;
    height: 35px;
    margin-top: 20px;
    background-color: #45a049;
}
.forgot{
    margin-top: 20px;
    margin-left: 240px;
}
a{
    text-decoration: none;
}
.signin{
    border: 1px solid black;
    width: 250px;
    height: 25px;
    background-color: cadetblue;  
    text-align: center; 
    margin-left: 120px; 
    margin-top: 20px;
}

